html,
body {
    margin: 0;
    padding: 0;
    /* background-color: #1E1E1E; */
}


.second-nav {

    width: 85%;
    z-index: 200;
    margin: auto;
    background-color: #de8d00;
    height: 35px;
    border-radius: 20px;
    

}

.second-nav ul { 
    /* padding-top: 5px; */
    font-weight: 600;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* transition: all 1s ease-out; */
}

.second-nav ul li {
    margin: auto;
    
    border-radius: 2px;
    padding: 5px 15px 6px 15px; 

    
}

 .second-nav ul li:hover{
    background-color:#222428;
    color: #de8d00;
    transition: all 0.8s ease-out;
} 




.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #222428;
    height: 68px;
    position: sticky;
    top: 0%;
    z-index: 200;
    /* zindex will help when things go overflow from header */
    justify-content: space-between;
    align-items: center;
}




.header-left input {
    width: 440px;
    margin-left: 40px;
    margin-top: 5px;
    border-radius: 10px;
    height: 35px;
    border: none;
    color: grey;
    background-color: #1B1B1B;
}


.header-left {
    display: flex;
    flex-direction: row;
    color: #de8d00;
    margin-left: 20px;

}


.header-right {

    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    /* text-align: right; */
}


.button-ad {
    background-color: grey;
    color: #222428;
    text-decoration: none;
    margin-left: 40px;
    border-radius: 10px;
    padding: 6px 18px 6px 18px;
}

.login-btn{
    margin: auto;
}

.login-btn button{
    border: none;
    color: #de8d00;
    font-size: 13px;
    background-color: #222428;
}

@media only screen and (max-width:1140px) {


    .header {
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: center;
        margin-top: 20px;
        
        /* width: 100%; */
    }

    .header-left {
        display: flex;
        margin: auto;
        flex-direction: column;
        /* display: block; */
        justify-content: center;
        text-align: center;
    }

    .rm {
        display: none;
    }

    .line {
        width: 33px;
        background-color: #de8d00;
        height: 4px;
        margin: 5px 3px;
    }

    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 15px;
    }

    .h-nav {
        height: 60px;
    }

    .v-class {
        opacity: 0;
    }


}

@media only screen and (max-width:600px) {

    .header-left input {
        max-width: 65%;
        margin-top: 20px;
    }

    html,
    body {
        overflow-x: hidden;
        overflow-x: hidden;
    }


    .header-left h2 {

        margin:10px 100px 0px 0px; 
    }

    #para {
        background-color: #1E1E1E;
        color: wheat;
    }

    #hide-it{
        display: none;
    }



} 